@{
    ViewData["Title"] = "Three Amigos Corp.";
}

<h2>About Us</h2>
   <hr />

<div class="container-description">
    <p>ThreeAmigos is your destination to set up your next big event. Everything you need is included.
        Join today, and start something extraordinary.</p>
</div>

   <hr />
   <br />
<h2>Contact Us</h2>
<address>
    1 Persiaran Bukit Utama, <br />
    Bandar Utama,<br />
    47800 Petaling Jaya,</br>  
    Selangor<br />
    <abbr title="Phone">Tel:</abbr>
    03-7735 2088
</address>

<address>
    <strong>Support:</strong> <a href="mailto:support@thamco.com">support@thamco.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:marketing@thamco.com">marketing@thamco.com</a>
</address>

   <hr />
   <br />
<h2>Privacy Policy</h2>

<p>By using ThreeAmigos services, you are agreeing to this site's terms, conditions and privacy policy.</p>