@{
    ViewData["Title"] = "Contact Us";
}
<h2>@ViewData["Title"]</h2>
<hr />
<h3>Three Amigos Corp.</h3>
<address>
    1 Persiaran Bukit Utama, <br />
    Bandar Utama,<br />
    47800 Petaling Jaya,</br>  
    Selangor<br />
    <abbr title="Phone">Tel:</abbr>
    03-7735 2088
</address>

<address>
    <strong>Support:</strong> <a href="mailto:support@thamco.com">support@thamco.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:marketing@thamco.com">marketing@thamco.com</a>
</address>