@{
    ViewData["Title"] = "Welcome";
}

<br />
<br />
<div>
    <h1 style="text-align: center">Welcome to ThreeAmigos!</h1>
</div>
<br />
<br />

<div class="row">
    <div class="col-md-6">
        <h2>For Your Event</h2>
        <ul>
            <li>ThreeAmigos is where you go to manage your next big events.</li>
            <li>Bespoke venue options are included.</li>
        </ul>
    </div>
    <div class="col-md-6">
        <h2>Where Next</h2>
        <ul>
            <li>Manage your <a href="EventsMvc">events.</a></li>
            <li>View <a href="CustomersMvc">customers</a> for your events.</li>
            <li>View our <a href="StaffsMvc">staff</a> available for your events.</li>
            <li>View available <a href="VenuesMvc">venues</a> available for your events.</li>
        </ul>
    </div>
</div>