@model ThAmCo.Venues.Data.EventType

@{
    ViewData["Title"] = "Delete";
}

<h2>Event Type | Delete</h2>
<div>
    <a asp-action="Index">Back to EventTypes</a>
</div>

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="DELETE" class="btn btn-default" /> 
    </form>
</div>
